.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.register-input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
}

.register-button {
  width: 100%;
  background-color: #38a169;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.register-error {
  color: #f56565;
  margin-top: 0.5rem;
}

.register-role {
  margin-bottom: 15px;
}

.register-role label {
  margin-right: 10px;
}
